<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Webfont generator</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/uikit.min.css" />
        <link rel="stylesheet" href="/assets/css/styles.css" />
    </head>
    <body>
        <h1 class="main-title">Webfont generator</h1>
        <div class="uk-width-medium-1-2 uk-article uk-container-center">
            {% form_theme form 'forms.html.twig' %}
            {{ form_start(form, {
                attr: {
                    class: "uk-form uk-form-stacked",
                    id: "ttf-form"
                }
            }) }}
                <div class="inner-form">
                    <div class="uk-margin" uk-margin>
                        <p class="uk-text-meta">Upload one or many ttf/otf font files.</p>
                        {{ form_errors(form) }}
                        {{ form_errors(form.files) }}
                        <div uk-form-custom="target: true">
                            {{ form_widget(form.files) }}
                            <input class="uk-input uk-form-width-medium" type="text" placeholder="Select OTF/TTF files" disabled>
                        </div>
                        <button class="uk-button uk-button-primary"><span uk-icon="cog"></span> Convert</button>
                    </div>
                    {{ form_rest(form) }}
                </div>
            {{ form_end(form) }}
        </div>
        <p class="disclaimer">Source available at <a href="https://github.com/ambroisemaupate/webfont-generator">github.com/ambroisemaupate/webfont-generator</a></p>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/assets/js/uikit.min.js"></script>
        <script src="/assets/js/uikit-icons.min.js"></script>
    </body>
</html>
